html, body {
    margin: 0px;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
h1, h2, h3, h4, h5, p {
    margin: 0px !important;
    padding: 0px !important;
}
* {
    outline: none;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
[matRipple] {
    cursor: pointer;
}
mat-toolbar {
    height: 56px !important;
    min-height: 56px !important;
}
.spacer {
    flex: 1 auto;
}
.container {
    width: 50%;
    margin: auto;
    padding: 10px;
}
@media screen and (max-width: 1500px) {
    .container {
        width: 60%;
    }
}
@media screen and (max-width: 1200px) {
    .container {
        width: 70%;
    }
}
@media screen and (max-width: 900px) {
    .container {
        width: 80%;
    }
}
@media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}
@media screen and (max-width: 400px) {
    .container {
        width: 100%;
    }
}