mat-drawer-container {
    height: 100vh;
    mat-drawer {
        width: 300px;
        mat-toolbar {
            img {
                height: 48px;
                margin-right: 15px;
            }
        }
        mat-list {
            padding: 0px;
            mat-list-item {
                border-bottom: 1px solid #E0E0E0;
            }
        }
    }
}